{{ define "layout" }}

<!DOCTYPE html>
<html>
    <head>
        {{ template "head" . }}
    </head>
    <body>
        <div class='container'>
            {{ template "content" . }}
        </div>

        <!-- Optional JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.15/bootstrap-native-v4.min.js"></script>

        {{ template "script" . }}
    </body>
</html>

{{ end }}